<section id="page_content">
  <h1>Contacting Jeremy</h1>
  <p>
    If you are interested in finding out more about any of the cellos that are in stock,
    or would like to find out more about my repair and restoration workshop, please complete the contact form below. 
  </p>
  <%= form_for @contact, url: contact_path do |contact_form| %>
    <fieldset>
      <div class="field">
        <%= contact_form.text_field :name, placeholder: "Name" %>
      </div>
    
      <div class="field">
        <%= contact_form.email_field :email, placeholder: "Email"%>
      </div>
    
      <div class="field">
        <%= contact_form.text_area :message, placeholder: "Message"%>
      </div>
    </fieldset>
  
    <fieldset>
      <div class="field">
        <%= contact_form.submit "Send" %>
      </div>
    </fieldset>
  <% end %>

</section>