<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="hF4Ai-GT8ywy2k4pVoBY2A0rTUM1YivRdlZq3O0ve60" />
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="description" content="This is the website of Jeremy Mahrêr Cellos. Jeremy
    Mahrêr trained at the London College of Furniture and has been hand crafting cellos for
    over 30 years. This site provides details of the cellos he has for sale, as well as 
    information about the cellos he is currently working on. He also repairs and restores
    cellos. A form for contacting Jeremy about sale, repair or restoration of cellos is also
    provided.">
    <meta name="keywords" content="cello, violin cello, cello repair, cello restoration, 
    hand made cello, hand crafted cello">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-102848998-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>
    <article id="main">
      <%= render 'layouts/header' %>
      <%= yield %>
    </article>
    
  </body>
</html>
